.search-bar {
  /* width: 80%; */
  height: 45px;
  max-width: 550px;
  /* margin-left: 50px; */
  /* margin-top: 50px; */
  /* margin-top: 120px; */
  border: 1px solid darkgray;
  display: inline-block;
  border-radius: 6px;
  /* margin-right: 10px; */
}
.search-button {
  display: inline-block;
  /* height: 45px; */
  height: 45px;
  width: 90px;
  margin-left: 15px;
  border: 1px solid darkgray;
  border-radius: 8px;
  font-weight: bold;
}
.search-container {
  display: inline-block;
}
@media (max-width: 800px) {
  .search-container {
    display: inline-block;
  }
  .search-bar {
    max-width: 200px;
    max-height: 35px;
    display: inline-block;
  }
  .search-button {
    max-height: 35px;
    height: 35px;
    margin-left: 2px;
    max-width: 65px;
    display: inline-block;
  }
}

.songs-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Noto Sans", sans-serif;
  margin-top: 10px;
}
.song-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  /* line-height: 55px; */
  font-size: 14px;
}
.song-title {
  font-size: 22px;
  text-align: center;
}
.card-footer {
  padding-bottom: 1px;
}
.details-button {
  float: left;
}
.sort-list {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}
.sort-list > li {
  float: left;
  margin-left: 5px;
}
.list-icons {
  display: inline-block;
  margin-left: auto;
}
.icon-button {
  /* border: 0px; */
  font-size: 24px;
  font-weight: bolder;
  margin-left: 5px;
  /* background-color: inherit; */
}
.like-buttons {
  background-color: inherit;
  float: right;
  border: 0px;
}

/* 
Filter DropDown
*/

.dropbtn:hover,
.dropbtn:focus {
  background-color: lightcoral;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -180px;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 400px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
